body{
  background-color: #1c1c1c;
  color: #fff;
}

.main{
  max-width: 360px;
  margin: 0 auto;
  /* background-color: #c78a8a; */
}

h1{
  text-align: center;
  color: #fff;
  margin: 0;
}

form{
  margin-top: 20px;
}

form input{
  width: 100%;
  background-color: transparent;
  color: #fff;
  border: 2px solid #30313d;
  padding: 2px 5px;
  border-radius: 5px;
}

form input{
  color: #777;
}

form div.basics{
  display: flex;
  /* justify-content: space-between; */
  display: flex;
  gap: 5px;
  margin-bottom: 5px;

}

.transactions{
  margin-top: 15px;
}

.transaction{
  display: flex;
  padding: 5px 0;
  justify-content: space-between;
  margin-bottom: 5px;
  border-top: 1px solid #30313d;
}
.transaction:first-child{
  border-top: 0;
}

.name{
  font-size: 1rem;
}

.description{
  font-size: 0.7rem;
  color: #888;
}

.right{
  text-align: right;
}

.price.red{
  color: #ff0000;
}

.price.green{
  color: #00ff00;
}

